web-app/flows.json
[
    {
        "id": "a7b9d689.b8a5e8",
        "type": "tab",
        "label": "Red LED Web-App",
        "disabled": false,
        "info": ""
    },
    {
        "id": "eccc3b2.58241c8",
        "type": "tab",
        "label": "Green LED Web-App",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6ad7c930.1a06b8",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Blinky-Lite-Tutorial",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "5c27d05d.e787b",
        "type": "ui_tab",
        "z": "",
        "name": "Blinky-Lite-Tutorial",
        "icon": "dashboard"
    },
    {
        "id": "2fcf4efd.ad6ea2",
        "type": "ui_group",
        "z": "",
        "name": "Red LED",
        "tab": "5c27d05d.e787b",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "31128b77.90db34",
        "type": "ui_group",
        "z": "",
        "name": "Red Blink Rate",
        "tab": "5c27d05d.e787b",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5b5270f0.687f8",
        "type": "ui_group",
        "z": "",
        "name": "Green LED",
        "tab": "5c27d05d.e787b",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2cdc087.8320ef8",
        "type": "ui_group",
        "z": "",
        "name": "Green Blink Rate",
        "tab": "5c27d05d.e787b",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b94056c.1c9bba8",
        "type": "mqtt-broker",
        "z": "",
        "name": "MQTT-web-app",
        "broker": "broker.shiftr.io",
        "port": "1883",
        "clientid": "blinky-lite-tutorial-web-app",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "b3708eee.6fca3",
        "type": "ui_button",
        "z": "a7b9d689.b8a5e8",
        "name": "",
        "group": "2fcf4efd.ad6ea2",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "{{msg.topic}}",
        "color": "",
        "bgcolor": "{{msg.background}}",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "blinky-lite-tutorial/web-app/red/ledState",
        "x": 450,
        "y": 280,
        "wires": [
            [
                "dd65fd39.ef0a7"
            ]
        ]
    },
    {
        "id": "37446d4f.cf4742",
        "type": "mqtt out",
        "z": "a7b9d689.b8a5e8",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "b94056c.1c9bba8",
        "x": 890,
        "y": 280,
        "wires": []
    },
    {
        "id": "33e280b8.9fcbc",
        "type": "mqtt in",
        "z": "a7b9d689.b8a5e8",
        "name": "",
        "topic": "blinky-lite-tutorial/dma/red/#",
        "qos": "0",
        "broker": "b94056c.1c9bba8",
        "x": 200,
        "y": 100,
        "wires": [
            [
                "39f2bd14.e70492"
            ]
        ]
    },
    {
        "id": "39f2bd14.e70492",
        "type": "json",
        "z": "a7b9d689.b8a5e8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 470,
        "y": 100,
        "wires": [
            [
                "974acec.bcbc33"
            ]
        ]
    },
    {
        "id": "974acec.bcbc33",
        "type": "function",
        "z": "a7b9d689.b8a5e8",
        "name": "Parse MQTT",
        "func": "msg.topic = msg.topic.substring(msg.topic.lastIndexOf('/') + 1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 100,
        "wires": [
            [
                "875ab289.86358",
                "87e9fdd.a28cf"
            ]
        ]
    },
    {
        "id": "875ab289.86358",
        "type": "function",
        "z": "a7b9d689.b8a5e8",
        "name": "Led State",
        "func": "if (msg.topic != 'ledState') return null;\nif (msg.payload == 0)\n{\n    msg.topic = 'Off';\n    msg.background = '#800000';\n}\nif (msg.payload == 1)\n{\n    msg.topic = 'Blinking';\n    msg.background = '#ff6666';\n}\nif (msg.payload == 2) \n{\n    msg.topic = 'On';\n    msg.background = '#ff0000';\n}\nflow.set('ledState',msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 280,
        "wires": [
            [
                "b3708eee.6fca3"
            ]
        ]
    },
    {
        "id": "dd65fd39.ef0a7",
        "type": "function",
        "z": "a7b9d689.b8a5e8",
        "name": "Change LedState",
        "func": "var ledState = flow.get('ledState');\nledState = ledState + 1;\nif (ledState > 2) ledState = 0;\nmsg.topic = 'blinky-lite-tutorial/web-app/red/ledState';\nmsg.payload = ledState;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 280,
        "wires": [
            [
                "37446d4f.cf4742"
            ]
        ]
    },
    {
        "id": "74cdbda4.17a944",
        "type": "ui_gauge",
        "z": "a7b9d689.b8a5e8",
        "name": "",
        "group": "2fcf4efd.ad6ea2",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "LED Intensity",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#ca3838",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 470,
        "y": 360,
        "wires": []
    },
    {
        "id": "87e9fdd.a28cf",
        "type": "function",
        "z": "a7b9d689.b8a5e8",
        "name": "Led Intensity",
        "func": "if (msg.topic != 'ledIntensity') return null;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 360,
        "wires": [
            [
                "74cdbda4.17a944"
            ]
        ]
    },
    {
        "id": "fd8577.f6e7fa88",
        "type": "ui_slider",
        "z": "a7b9d689.b8a5e8",
        "name": "Blink Rate",
        "label": "",
        "group": "31128b77.90db34",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "blinky-lite-tutorial/web-app/red/ledToggle",
        "min": "1",
        "max": "10",
        "step": "1",
        "x": 500,
        "y": 460,
        "wires": [
            [
                "cc981eed.b2fbc"
            ]
        ]
    },
    {
        "id": "2ca03bc2.f1bb94",
        "type": "inject",
        "z": "a7b9d689.b8a5e8",
        "name": "LedToggle Init",
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 280,
        "y": 460,
        "wires": [
            [
                "fd8577.f6e7fa88"
            ]
        ]
    },
    {
        "id": "cc981eed.b2fbc",
        "type": "function",
        "z": "a7b9d689.b8a5e8",
        "name": "Convert Rate To Period",
        "func": "msg.payload = Math.round(250.0 / msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 460,
        "wires": [
            [
                "37446d4f.cf4742"
            ]
        ]
    },
    {
        "id": "5dba97cd.9c1608",
        "type": "ui_button",
        "z": "eccc3b2.58241c8",
        "name": "",
        "group": "5b5270f0.687f8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "{{msg.topic}}",
        "color": "",
        "bgcolor": "{{msg.background}}",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "blinky-lite-tutorial/web-app/green/ledState",
        "x": 430,
        "y": 240,
        "wires": [
            [
                "b833d608.8c0c58"
            ]
        ]
    },
    {
        "id": "7e64350b.c18f1c",
        "type": "mqtt out",
        "z": "eccc3b2.58241c8",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "false",
        "broker": "b94056c.1c9bba8",
        "x": 870,
        "y": 240,
        "wires": []
    },
    {
        "id": "93161cde.3c978",
        "type": "mqtt in",
        "z": "eccc3b2.58241c8",
        "name": "",
        "topic": "blinky-lite-tutorial/dma/green/#",
        "qos": "0",
        "broker": "b94056c.1c9bba8",
        "x": 180,
        "y": 60,
        "wires": [
            [
                "3c969c35.e17504"
            ]
        ]
    },
    {
        "id": "3c969c35.e17504",
        "type": "json",
        "z": "eccc3b2.58241c8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 450,
        "y": 60,
        "wires": [
            [
                "115a1f31.3bf291"
            ]
        ]
    },
    {
        "id": "115a1f31.3bf291",
        "type": "function",
        "z": "eccc3b2.58241c8",
        "name": "Parse MQTT",
        "func": "msg.topic = msg.topic.substring(msg.topic.lastIndexOf('/') + 1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 60,
        "wires": [
            [
                "c58281d9.08a44",
                "3b8f4c31.b2fe54"
            ]
        ]
    },
    {
        "id": "c58281d9.08a44",
        "type": "function",
        "z": "eccc3b2.58241c8",
        "name": "Led State",
        "func": "if (msg.topic != 'ledState') return null;\nif (msg.payload == 0)\n{\n    msg.topic = 'Off';\n    msg.background = '#008000';\n}\nif (msg.payload == 1)\n{\n    msg.topic = 'Blinking';\n    msg.background = '#66ff66';\n}\nif (msg.payload == 2) \n{\n    msg.topic = 'On';\n    msg.background = '#00ff00';\n}\nflow.set('ledState',msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 220,
        "y": 240,
        "wires": [
            [
                "5dba97cd.9c1608"
            ]
        ]
    },
    {
        "id": "b833d608.8c0c58",
        "type": "function",
        "z": "eccc3b2.58241c8",
        "name": "Change LedState",
        "func": "var ledState = flow.get('ledState');\nledState = ledState + 1;\nif (ledState > 2) ledState = 0;\nmsg.topic = 'blinky-lite-tutorial/web-app/green/ledState';\nmsg.payload = ledState;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 240,
        "wires": [
            [
                "7e64350b.c18f1c"
            ]
        ]
    },
    {
        "id": "d72f1e53.a291f",
        "type": "ui_gauge",
        "z": "eccc3b2.58241c8",
        "name": "",
        "group": "5b5270f0.687f8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "LED Intensity",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#70ff48",
            "#70ff48",
            "#70ff48"
        ],
        "seg1": "",
        "seg2": "",
        "x": 450,
        "y": 320,
        "wires": []
    },
    {
        "id": "3b8f4c31.b2fe54",
        "type": "function",
        "z": "eccc3b2.58241c8",
        "name": "Led Intensity",
        "func": "if (msg.topic != 'ledIntensity') return null;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 230,
        "y": 320,
        "wires": [
            [
                "d72f1e53.a291f"
            ]
        ]
    },
    {
        "id": "9a8b8069.94305",
        "type": "ui_slider",
        "z": "eccc3b2.58241c8",
        "name": "Blink Rate",
        "label": "",
        "group": "2cdc087.8320ef8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "blinky-lite-tutorial/web-app/green/ledToggle",
        "min": "1",
        "max": "10",
        "step": "1",
        "x": 480,
        "y": 420,
        "wires": [
            [
                "b7d32579.d8de68"
            ]
        ]
    },
    {
        "id": "1692a074.a72c7",
        "type": "inject",
        "z": "eccc3b2.58241c8",
        "name": "LedToggle Init",
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 260,
        "y": 420,
        "wires": [
            [
                "9a8b8069.94305"
            ]
        ]
    },
    {
        "id": "b7d32579.d8de68",
        "type": "function",
        "z": "eccc3b2.58241c8",
        "name": "Convert Rate To Period",
        "func": "msg.payload = Math.round(250.0 / msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 420,
        "wires": [
            [
                "7e64350b.c18f1c"
            ]
        ]
    }
]